
/* Animated button with pulse effect */
.st-key-pulse button {
    background-color: #1e45c9;
    border-radius: 10px;
    padding: 20px 60px;
    animation: pulse 2s infinite;
    color:rgb(172, 202, 2)
}

.st-key-pulse button p {
    font-size: 25px;
    font-family: 'Comic Sans MS', sans-serif;
}

/* Hover effect for the button */
.st-key-pulse button:hover {
    background-color: #06318f; /* Darker green */
    border: none;
}

.st-key-pulse button:hover p {
    color: #06a306; /* Gold color */
}

/* Override the focus states to prevent default red border */
.st-key-pulse button:focus {
    background-color: #063c8d; /* Keep the same as hover */
    border: none;
}

/* Apply the same text color during focus states */
.st-key-pulse button:focus p {
    color: #9dff00;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

/* usando button  */
/* Animated button with pulse effect */
.st-key-inpulse button {
    background-color: #1e45c9;
    border-radius: 10px;
    padding: 20px 60px;
    animation: pulse 2s infinite;
    color:rgb(172, 202, 2)
}

.st-key-inpulse button p {
    font-size: 25px;
    font-family: 'Comic Sans MS', sans-serif;
}

/* Hover effect for the button */
.st-key-inpulse button:hover {
    background-color: #06318f; /* Darker green */
    border: none;
}

.st-key-inpulse button:hover p {
    color: #06a306; /* Gold color */
}

/* Override the focus states to prevent default red border */
.st-key-inpulse button:focus {
    background-color: #063c8d; /* Keep the same as hover */
    border: none;
}

/* Apply the same text color during focus states */
.st-key-inpulse button:focus p {
    color: #9dff00;
}


@keyframes inpulse {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}


/* usando button  para slidebar */
/* Animated button with pulse effect */
.st-key-topulse button {
    background-color: #1e45c9;
    border-radius: 12px;
    padding: 15px 15px;
    animation: pulse 2s infinite;
    color:rgb(172, 202, 2)
}

.st-key-topulse button p {
    font-size: 15px;
    font-family: 'Comic Sans MS', sans-serif;
}

/* Hover effect for the button */
.st-key-topulse button:hover {
    background-color: #06318f; /* Darker green */
    border: none;
}

.st-key-topulse button:hover p {
    color: #06a306; /* Gold color */
}

/* Override the focus states to prevent default red border */
.st-key-topulse button:focus {
    background-color: #063c8d; /* Keep the same as hover */
    border: none;
}

/* Apply the same text color during focus states */
.st-key-topulse button:focus p {
    color: #9dff00;
}


@keyframes inpulse {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}
